main {
    width: 100%;
    position: relative;
    top: 68px;
}
.primary-container{
    /* display: flex; */
    max-width:1272px;
    /* flex-wrap: wrap; */
    /* background-color: red; */
    padding-right: 24px;
    padding-left: 24px;
    margin-right: auto;
    margin-left: auto;
}
.main-category-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.img-category-card {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 20px;
    width: 364px;
    height: 200px;
    box-shadow: 1px 4px 9px rgb(0 0 0 / 22%);
}
.img-category-card img {
    width: 250px;
    height: 44px;
}
.secondary-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.card-info {
    margin: 0px 20px 100px 20px;
    width: 364px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.161);
}
.card-info .img-card {
    width: 100%;
    height: 250px;
    background-color: silver;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-info .img-card  img {
    width: 100%;
    display: flex;
    justify-content: center;
}
.card-info .img-card button {
    width: 99px;
    height: 35px;
    background-color: #fff;
    color: #2680EB;
    position: relative;
    right: 30px;
    top: 78px;
    border-style: none;
    cursor: pointer;
}
.card-info .info-element {
    margin: 20px 30px 0px 30px;
}
.info-element span {
    font-size: 12px;
}
.news-blok {
    display: flex;
    width: 100%;
    position: relative;
    bottom: 50px;
    flex-wrap: wrap;
}
.more-info-bloks{
    position: relative;
    width: 364px;
    margin: 0 20px 50px 16px;
    padding-left: 8px;
    background-color: #EBEBEB;
    border-top: 3px #2680EB solid;
}
.more-info-bloks h4 {
    margin-top: 20px;
    margin-bottom: 30px;
}
.more-info-bloks article {
    margin: 30px 0;
    padding-bottom: 30px;
    position: relative;

}
.more-info-bloks article span {
    position: absolute;
    bottom: 0;
}