footer {
    width: 100%;
    position: relative;
    bottom: 0px;
    background-color: #EBEBEB;
}
.footer-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1272px;
    height: 120px;
    padding-right: 24px;
    padding-left: 24px;
    margin-right: auto;
    margin-left: auto;
}
.footer-category{
    display: flex;
}
.primary-footer-category  {
    margin-left: 40px;
}
.footer-contact  {
    display: none;
}
.footer-contact a {
    color: #2680EB;
}
.feedback-icons {
    display: flex;
    gap: 20px;
    font-size: 17px;
    
}