.headline {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
    box-shadow:0px 3px 5px -8px #000000, 0px 0px 9px 5px rgb(0 0 0 / 15%)
}
.container {
    z-index: 2;
}
.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width:1272px;
    height: 60px;
    padding-right: 24px;
    padding-left: 24px;
    margin-right: auto;
    margin-left: auto;
}
.navigation {
    display: flex;
    justify-content: space-between;
    width: 100%;
    z-index: 3;
}
.navigation ul {
    align-items: center;
    margin-left: 38px;
}
.logo {
    /* flex: 0 0 230px; */
    position: relative;
    top: 4px;
}
.logo img {
   width: 56%;
}
.header-burger {
    display: none;
}
.categories {
    display: flex;
    gap: 43px;
}
.category a {
    transition: all 0.3s ease;
}

.category a:hover {
    color: #2680EB;
}

.info-bar {
    display: flex;
    align-items: center;
}
.languages {
    display: flex;
    font-weight: bold;
    gap: 4px;
}
.languages a {
    transition: all 0.3s ease;
}
.languages a:hover{
    color: #2680EB;
}
.languages::before {
    content: '';
    left: 96px;
    width: 1px;
    height: 17px;
    background-color: black;
    position: relative;
}
.contact a {
    position: relative;
    margin-left: 30px;
    color: #2680EB;

}
