.headline {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
    box-shadow:0px 3px 5px -8px #000000, 0px 0px 9px 5px rgb(0 0 0 / 15%)
}
.container {
    z-index: 2;
}
.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width:1272px;
    height: 60px;
    padding-right: 24px;
    padding-left: 24px;
    margin-right: auto;
    margin-left: auto;
}
.navigation {
    display: flex;
    justify-content: space-between;
    width: 100%;
    z-index: 3;
}
.navigation ul {
    align-items: center;
    margin-left: 38px;
}
.logo {
    /* flex: 0 0 230px; */
    position: relative;
    top: 4px;
}
.logo img {
   width: 56%;
}
.header-burger {
    display: none;
}
.categories {
    display: flex;
    gap: 43px;
}
.category a {
    transition: all 0.3s ease;
}

.category a:hover {
    color: #2680EB;
}

.info-bar {
    display: flex;
    align-items: center;
}
.languages {
    display: flex;
    font-weight: bold;
    gap: 4px;
}
.languages a {
    transition: all 0.3s ease;
}
.languages a:hover{
    color: #2680EB;
}
.languages::before {
    content: '';
    left: 96px;
    width: 1px;
    height: 17px;
    background-color: black;
    position: relative;
}
.contact a {
    position: relative;
    margin-left: 30px;
    color: #2680EB;

}
@media ( max-width: 879px ) {
    .header-burger{
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 5;
    }
    .header-burger::before,
    .header-burger::after{
        content: '';
        background-color: #000000;
        position: absolute;
        width: 100%;
        height: 3px;
        left: 0;
    }
    .header-burger span{
        position: absolute;
        left: 0;
        background-color: #000000;
        width: 100%;
        height: 3px;
        top: 9px;
    }
    .header-burger::before{
        top: 0px;
        transition: all 0.3s ease 0s;

    }
    .header-burger::after{
        bottom: 0;
        transition: all 0.3s ease 0s;

    }
    .header-burger.active:before{
        transform: rotate(45deg);
        top: 9px;
        transition: all 0.3s ease 0s;
    }
    .header-burger.active:after{
        transform: rotate(-45deg);
        bottom: 9px;
    }
    .header-burger.active span{
        transform: scale(0);
    }
    .navigation{
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100vh;
        z-index: 3;
        padding: 100px 20px 30px 20px;
        transition: all 0.3s ease 0s;
    }
    .navigation.active{
        top: 60px;
        left: -46px;
        background-color: #ffffff;
        display: block;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.161);
    }
    .languages::before {
        display: none;
    }
    .categories, .info-bar.active, .language {
        flex-direction: column;
        position: relative;
        top: -69px;
        margin-bottom: 33px;
    }
    .categories li, .info-bar li {
        margin-bottom: 20px;
    }
    header {
        width: 100%;
    }
    /* .header-burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px; 
        z-index: 3;   
    }
    .header-burger:before,
    .header-burger:after {
        content: '';
        background-color: black;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;

    }
    .header-burger span {
        position: absolute;
        background-color: black;
        width: 100%;
        height: 2px;
        top: 9px;
    }
    .header-burger:before {
        top: 0;
    }
    .header-burger:after {
        bottom: 0;
    } */
    /* .categories {
        display: block;
        position: fixed;
        left: -38px;
        top: -70px;
        width: 100%;
        height: 100%;
        background-color: chartreuse;
        padding-top: 28px;
        padding-left: 64px;
        transition: all 0.3s ease 0s;
    }
    .info-bar {
        position: fixed;
        left: -38px;
        top: 55px;
        height: 100%;
        padding-top: 28px;
        padding-left: 64px;
        transition: all 0.3s ease 0s;
    } */
   

}