.main-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    box-shadow:0px 3px 5px -8px #000000, 0px 0px 9px 5px rgb(0 0 0 / 15%)
}
.container {
    display: flex;
    align-items: center;
}
.container ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 38px;
}
.logo strong {
    font-size: 18px;
}
.category {
    gap: 43px;
}
.first-element-category {
    margin-left: 54px;
}
.bio-category {
    transition: all 0.3s ease;
}
.bio-category:hover{
    color: #2680EB;
} 
.kim-category {
    transition: all 0.3s ease;
}
.kim-category:hover {
    color: #2680EB;
}
.geo-category {
    transition: all 0.3s ease;
}
.geo-category:hover {
    color: #2680EB;
}
.info-bar {
    display: flex;
    align-items: center;
}
.info-bar ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 44px;
}
.language {
    font-weight: bold;
    gap: 3px;
}
.uz-ver {
    transition: all 0.3s ease;
}
.uz-ver:hover{
    color: #2680EB;
}
.ru-ver {
    transition: all 0.3s ease;
}
.ru-ver:hover{
    color: #2680EB;
}
.eng-ver {
    transition: all 0.3s ease;
}
.eng-ver:hover{
    color: #2680EB;
}
.language::before {
    content: '';
    left: 96px;
    width: 1px;
    height: 17px;
    background-color: black;
    position: relative;

}
.contact a {
    color: #2680EB;

}